* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: powderblue;
}

.container {
  margin-top: 50px auto;
  height: 500px;
  color: #fff;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
}

.item_1 {
  background-color: #2ecc71;
  grid-column: 1 / 3;
}
.item_2 {
  background-color: #85214132;
}
.item_3 {
  background-color: #9b59b6;
  grid-row: 2 / 4;
}
.item_4 {
  background-color: #2c3e50;
  grid-column: 2 /4;
}
.item_5 {
  background-color: #c0392b;
}
.item_6 {
  background-color: #2ecc71;
}

/* Defining a grid */
.container_2 {
  margin: 25px auto;
  height: 400px;
  color: #fff;
  display: grid;
  gap: 10px;
  /* grid-template-columns: repeat(3, 120px); */
  grid-template-columns: [cal1-start] 120px [cal2-start] 120px [cal3-start] 120px [cal3-end];
  /* grid-template-rows: repeat(3, 120px); */
  /* grid-template-columns: [cal] 120px [col]
  120px [col] 120px [col]
  120px;
  grid-template-rows: [row] auto [row]
  auto [row]; */
  grid-template-rows:
    [row1-start]
    auto [row2-start]
    auto [row2-end];
  justify-content: center;
  align-content: center;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  text-align: center;
  padding-top: 45px;
}
.box_1 {
  grid-column: 1 /4;
  text-align: center;
  padding-top: 45px;
}

/* Line based placement */

/* .a { 
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-column-end: 2;
}
.b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.c {
  grid-column-start: 4;
  grid-column-end: 3;
  grid-template-rows: 3;
  grid-row-end: 3;
}
.d {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.e {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.f {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
} */

/* Line-based placement shorthand - grid-row and grid-column */

/* .a {
  grid-column: 2 /3;
  grid-row: 1 / 2;
}
.b {
  grid-column: 2/3;
  grid-row: 2 / 3;
}
.c {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.d {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.e {
  grid-column: 1 / 2;
  grid-row: 2 /3;
}
.f {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */

/* Line-based placement shorthand - grid-area */
/* .a{
  grid-area: 1/ 2 / 2 /3;
}
.b{
  grid-area: 2/ 2/ 3 / 3;
}
.c{
  grid-area: 2 / 3 / 3 / 4;
}

.d{
  grid-area: 1/ 1 / 2 / 2;
}
.e{
  grid-area: 2 / 1 / 2 / 2;
}
.f{
  grid-area: 1 / 3 / 2 / 4;
} */

/* Line-based placement spanning tracks */

/* .a{
  grid-column: 1 / 3;
}
.b{
  grid-column: 3;
  grid-row: 1 / 3;
}
.c{
  grid-column: 1;
  grid-row: 2;
}
.d{
  grid-column: 2;
  grid-row: 2;
} */

/* Line-based placement named lines */

.a {
  grid-column: cal1-start / cal3-start;
  grid-row: row1-start;
}
.b {
  grid-column: cal3-start;
  grid-row: row1-start / row2-end;
}
.c {
  grid-column: cal1-start;
  grid-row: row2-start;
}
.d {
  grid-column: cal2-start;
  grid-row: row2-start;
}
