* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 900px;
  background-color: #ccc;
  margin: 50px auto;
  padding: 10px;
}

.header {
  background-color: blueviolet;
  position: fixed;
  width: 900px;
  top: 0;
}

nav {
}

ul {
  display: flex;
  justify-content: center;
}
ul li {
  padding: 15px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
}
.para {
  padding: 10px;
  /* display: none; */
}
.para2 {
  padding: 10px;
  /* visibility: hidden; */
}
